# Redes Neuronales Artificiales
### Autor: Mario Ubierna San Mamés

## Importación de librerías

In [65]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## Carga del dataset

In [66]:
df = pd.read_csv("./data/Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [67]:
X = df.iloc[:, 3:13]
y = df.iloc[:, 13]
print("Variables independientes")
print("**********************************************************************")
print(X.head())
print("\nVariable dependiente")
print("**********************************************************************")
print(y.head())

Variables independientes
**********************************************************************
   CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0          619    France  Female   42       2       0.00              1
1          608     Spain  Female   41       1   83807.86              1
2          502    France  Female   42       8  159660.80              3
3          699    France  Female   39       1       0.00              2
4          850     Spain  Female   43       2  125510.82              1

   HasCrCard  IsActiveMember  EstimatedSalary
0          1               1        101348.88
1          0               1        112542.58
2          1               0        113931.57
3          0               0         93826.63
4          1               1         79084.10

Variable dependiente
**********************************************************************
0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

## Preprocesado de datos

In [68]:
# Dummies tanto para Geography y Gender,
# eliminamos una columna de Geography y de Gender para problemas de colinealidad
X = pd.get_dummies(X, drop_first=True)

print("Variables independientes")
print("**********************************************************************")
print(X.head())

# Normalización
sc_X = StandardScaler()
X = sc_X.fit_transform(X)

print("\nVariables independientes normalizadas")
print("**********************************************************************")
print(X[0:5])

# Conjunto de train y de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
print("\nConjuntos de train y test")
print("**********************************************************************")
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

Variables independientes
**********************************************************************
   CreditScore  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0          619   42       2       0.00              1          1
1          608   41       1   83807.86              1          0
2          502   42       8  159660.80              3          1
3          699   39       1       0.00              2          0
4          850   43       2  125510.82              1          1

   IsActiveMember  EstimatedSalary  Geography_Germany  Geography_Spain  \
0               1        101348.88                  0                0
1               1        112542.58                  0                1
2               0        113931.57                  0                0
3               0         93826.63                  0                0
4               1         79084.10                  0                1

   Gender_Male
0            0
1            0
2            0
3            0
4            0

Variables independientes normalizadas
**********************************************************************
[[-0.32622142  0.29351742 -1.04175968 -1.22584767 -0.91158349  0.64609167
   0.97024255  0.02188649 -0.57873591 -0.57380915 -1.09598752]
 [-0.44003595  0.19816383 -1.38753759  0.11735002 -0.91158349 -1.54776799
   0.97024255  0.21653375 -0.57873591  1.74273971 -1.09598752]
 [-1.53679418  0.29351742  1.03290776  1.33305335  2.52705662  0.64609167
  -1.03067011  0.2406869  -0.57873591 -0.57380915 -1.09598752]
 [ 0.50152063  0.00745665 -1.38753759 -1.22584767  0.80773656 -1.54776799
  -1.03067011 -0.10891792 -0.57873591 -0.57380915 -1.09598752]
 [ 2.06388377  0.38887101 -1.04175968  0.7857279  -0.91158349  0.64609167
   0.97024255 -0.36527578 -0.57873591  1.74273971 -1.09598752]]

Conjuntos de train y test
**********************************************************************
(8000, 11)
(2000, 11)
(8000,)
(2000,)